%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6" do |f|
        %header
          %h1 Register
        %fieldset
          = f.alert_message "Please fix the errors below.", error_summary: false
          .form-group
            = hidden_field_tag :invitation_token, params[:invitation_token]
            = f.email_field :email, value: display_invited_email_or_nothing, label: "Email Address"
          .form-group
            = f.password_field :password
          .form-group
            = f.text_field :fullname, label: "Full Name"
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            = f.submit "Sign Up", class: "btn btn-default"
