%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        - if @video.category.name == "TV shows"
          %img(src="/tmp/monk_large.jpg")
        - else
          %img(src="#{@video.large_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: #{@video.average_rating}/5.0
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          = link_to "+ My Queue", queue_items_path

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for [@video, @review], inline_errors: true do |f|
        %fieldset
          .form-group
            .row
              .col-sm-3
                = f.select :rating, rating_options, label: "Rate this video"
          .form-group
            .row
              .col-sm-8
                = f.text_area :body, rows: 6, label: "Write review"
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit", class: "btn"
          = link_to "Cancel", @video
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p by #{ link_to review.user.fullname, '' }
              .col-sm-8
                %p= review.body